body {
  background: blueviolet;
  font-family: 'Solway', serif;
  background-attachment: fixed;   
}

.btn-violet{
  background-color: blueviolet;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.form-control::-webkit-input-placeholder { color: rgb(214, 212, 212) }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#row{
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}